.header {
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    max-height: 12.5rem;
}

.header > img {
    margin-bottom:  5rem;
    margin-top:  4.5rem;
}