.tasksListContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 1.5rem;
    line-height: 1.5rem;
}

.tasksListContainer .emptyMessage p:nth-of-type(1){
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: var(--gray-300);
    margin-bottom: .5rem;
}

.tasksListContainer .emptyMessage p:nth-of-type(2){
    line-height: 140%;
    text-align: center;
    color: var(--gray-300);
}

.tasksListContainer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}